* { margin: 0; padding: 0 }

html, body {
 width: 100%;
 height: 100%;
}

div#server-message, h2 {
 text-align: center;
 display: block;
 padding-top: 20px;
}

div#server-message {
 margin: 100px 20% 30px 20%;
 padding-bottom: 20px;
 border: 5px solid #70bbef;
 background: #dbedf9;
 -moz-border-radius: 15px;
 border-radius: 15px;
 font-size: 1.5em;
 display: none;
}
